Almost done, what do you like to drink?

<form method = "post" action = "/drink">
  <input type = "text" name = "user_drink">
  <input type = "hidden" name = "user_name" value = <%= name %> >
  <input type = "hidden" name = "user_age" value = <%= age %> >
  <input type = "hidden" name = "user_hair" value = <%= hair %> >
  <input type = "hidden" name = "user_food" value = <%= food %> >
  <input type = "submit">
</form>
