What is your first and last name?

<form method = "post" action = "/name">
<form method = "post" action = "/lname">
  <input type = "text" name = "user_name">
  <input type = "text" name = "l_user_name">
  <input type = "submit">
</form>
